.swatch-empty {
    border: 2px dashed white;
    background: none;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    position: relative;
}

.swatch-creator-popup {
    display: none;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    min-width: 200px;
    background-color: #ffffff;
    color: #222222;
    position: absolute;
    z-index: 4;
    left: 40px;
    transform: translateY(-67%);
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5); 
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
}

.swatch-creator-popup-visible {
    display: block;
    position: absolute;
}

.swatch-creator-popup::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #ffffff transparent transparent;
  }

  .swatch-creator-input {
      width: 100%;
      height: 40px;
      margin-bottom: 10px;
      padding-left: 28px;
      font-size: 16px;
      text-transform: uppercase;
  }

  .swatch-creator-inputsymbol {
    position: absolute;
    top: 27px;
    left: 32px;
    color: #333;
    font-weight: normal;
  }

  .swatch-creator-create {
      width: 100%;
      padding: 8px;
      text-align: center;
      cursor: pointer;
  }