.icon-palette-tab {
  width: 65px;
  height: 65px;
  position: absolute;
  top: 50px;
  left: 0px;
  background-color: #666;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}


/******* CLOSED *******/
.icon-palette * { transition: 1s; }

.icon-palette {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  right: 15px;
  display: relative;
  box-sizing: border-box;
  background-color: #ccc;
  cursor: pointer;
  transition: 0.2s;
  z-index: 3;
}

.icon-palette .icon-splotches {
  position: absolute;
  top: 4px;
  left: 2px;
  right: 4px;
  bottom: 4px;
  border-radius: 50%;
  border: 6px dotted #666;
  transition-delay: 0s;
  transition: 0.05s;
}

.icon-palette .icon-cutout {
  position: absolute;
  top: 14px;
  left: -8px;
  right: 22px;
  bottom: 4px;
  background-color: #666;
  border-radius: 50%;
  transition: 0.05s;
}

.icon-palette:hover {
  transform: rotate(10deg);
}

.icon-palette:active {
  transform: rotate(350deg) scale(0.9);
}


/******* OPEN *******/

.icon-palette-open {
  transform: rotate(0deg);
}

.icon-palette-open:hover {
  transform: scale(0.9);
}

.icon-palette-open:active {
  transform: rotate(180deg) scale(0.9);
}

.icon-palette-open .icon-splotches {
  border-width: 0px;
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
  /* transition: 0.5s; */
}

.icon-palette-open .icon-cutout {
  display: relative;
  border-radius: 0px;
  top: 7px;
  bottom: 7px;
  left: 15px;
  right: 15px;
  transform: rotate(45deg);
}

.icon-palette-open .icon-cutout::after {
  content: '';
  background-color: #666;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  transform: rotate(90deg);
}