.icon-gear-tab {
  width: 65px;
  height: 65px;
  position: absolute;
  top: 50px;
  right: 0px;
  background-color: #666;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}


/******* CLOSED *******/
.icon-gear * { transition: 1s; }

.icon-gear {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  right: 15px;
  display: relative;
  box-sizing: border-box;
  background-color: #ccc;
  cursor: pointer;
  transition: 0.2s;
  z-index: 3;
}

.icon-edges {
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: 50%;
  border: 10px dotted #666;
  transition-delay: 0s;
  transition: 0.05s;
}

.icon-hole {
  position: absolute;
  top: 12px;
  left: 12px;
  right: 12px;
  bottom: 12px;
  background-color: #666;
  border-radius: 50%;
  transition: 0.1s;
}

.icon-gear:hover {
  transform: rotate(10deg);
}

.icon-gear:active {
  transform: rotate(350deg) scale(0.9);
}


/******* OPEN *******/

.icon-gear-open {
  transform: rotate(0deg);
}

.icon-gear-open:hover {
  transform: scale(0.9);
}

.icon-gear-open:active {
  transform: rotate(180deg) scale(0.9);
}

.icon-gear-open .icon-edges {
  border-width: 0px;
  transition-delay: 0.1s;
  transition: 0.4s;
}

.icon-gear-open .icon-hole {
  display: relative;
  border-radius: 0px;
  top: 7px;
  bottom: 7px;
  left: 15px;
  right: 15px;
  transform: rotate(45deg);
}

.icon-gear-open .icon-hole::after {
  content: '';
  background-color: #666;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  transform: rotate(90deg);
}