.swatches-box {
    z-index: 2;
    padding: 70px 0px 0px 10px;
    position: absolute;
    width: 85px;
    top: 50px;
    left: 0px;
    bottom: 50px;
    overflow-y: auto;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.1); 
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.1);
    background-color: #666;
    overflow: visible;
    transition: ease-out 0.2s ;
}