.swatch {
    border: 1px solid white;
    height: 30px;
    width: 30px;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.swatch-active {
    border-width: 3px;
    border-color: #fff;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
}