.settings-box {
    z-index: 2;
    padding: 20px;
    position: absolute;
    width: 200px;
    top: 50px;
    bottom: 50px;
    overflow-y: auto;
    -webkit-box-shadow: 5px 5px 50px 18px rgba(0,0,0,0.2); 
    box-shadow: 5px 5px 50px 18px rgba(0,0,0,0.2);
    background-color: #666;
    overflow: auto;
    transition: ease-out 0.2s ;
}

.settings-box > h2 {
    text-align: left;
    font-weight: normal;
    padding-bottom: 8px;
    font-size: 30px;
}

.settings-box > h3 {
    margin-top: 26px;
    margin-bottom: 6px;
    font-weight: normal;
}

.settings-submit {
    width: 100%;
    padding: 8px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 8px;
}